.App {
  text-align: center;
}

.App-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--orange);
  display: grid;
  grid-gap: 16px;
  gap: 16px;
}

.App-content h3 {
  font-size: 24px;
  margin: 0px;
}

.App-content .background-img {
  min-width: 100%;
  min-height: 100vh;
  background-image: url("./assets/img//background.svg");
  background-position: bottom;
  background-attachment: fixed;
  background-size: auto;
  background-repeat: repeat;
  opacity: 0.1;
  z-index: -1;
  position: fixed;
}

.App-content .page-container {
  margin-top: 76px;
  display: grid;
  grid-gap: 16px;
  gap: 16px;
}

@media (max-width: 650px) {
  .App-content .page-container {
    margin-top: 96px;
  }
}

@media (max-width: 475px) {
  .App-content .page-container {
    margin-top: 124px;
  }
}