:root {
  --white: #ffffff;
  --white-gray: #F5F5F5;
  --orange: #ff5000;
  --gray: #424242;
  --gray-ligth: #B0BEC5;
  --blue-gray: #607D8B;
}

body {
  margin: 0;
  font-family: Nunito;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  opacity: 1 !important;
}

code {
  font-family: Nunito;
}

@font-face {
  font-family: Nunito;
  src: url("./assets//font/nunito/Nunito-Bold.ttf");
}